/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    button:focus,
    input:focus,
    select:focus,
    textarea:focus {
        @apply outline-none !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    select,
    textarea {
        @apply appearance-none w-full py-1 px-2 rounded transition-colors box-border border
            border-gray-300 !important;
    }

    input[type="text"]:focus, 
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="number"]:focus,
    input[type="date"]:focus,
    select:focus,
    textarea:focus {
        @apply border-gray-400 !important;
    }
}