aiofiles
base58
faker
fastapi
jinja2
pandas
passlib[bcrypt]
psycopg2
pydantic[dotenv]
pytest
python-jose[cryptography]
python-multipart
requests
sqlalchemy
sqlalchemy-utils
starlette
stripe
uvicorn
# weasyprint
